/* Змінні */
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --bgd-color: #ffffff;
  --primary-logo-color: #000000;
  --secondary-bgd-color: #2f303a;
  --button-hero-bgd-color: #188ce8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --bgd-team-color: #f5f4fa;
  --icon-color: #afb1b8;
}
/* Глобальні стилі */
body {
  background-color: var(--bgd-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
  margin: 0 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Хедер */

.header {
  border-bottom: 1px solid #ececec;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

/* Студія */

/* Логотип */
.logo {
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-logo-color);
}
.logo-part {
  color: var(--accent-color);
}
.logo-header {
  margin-right: 93px;
}
/* Навігація та контакти*/
.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-item {
  position: relative;
}

.nav-list-item {
  display: inline-block;
  padding: 32px 0;
  color: var(--secondary-text-color);
}

.nav-list-item.current::after {
  content: "";

  position: absolute;
  bottom: 0;

  transform: translateY(1px);

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts-list {
  display: flex;
  gap: 50px;
}

.header-contacts {
  display: flex;
  align-items: center;
  padding: 32px 0;
  color: var(--primary-text-color);
}

.icon {
  fill: currentColor;
  margin-right: 10px;
  padding: 0;
  margin-bottom: 0;
}

.nav-list-item,
.header-contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-item:hover,
.header-contacts:hover,
.nav-list-item:focus,
.header-contacts:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.nav-list-item.current {
  /* Надає колір поточній вкладці */
  color: var(--accent-color);
}
/* Main */
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.section {
  padding-bottom: 94px;
}
/* Секція Герой */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--secondary-bgd-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  text-align: center;

  padding: 200px 0;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  max-width: 696px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--bgd-color);

  text-align: center;
  text-transform: uppercase;

  margin: 0 auto;
  margin-bottom: 30px;
}
.button-hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--bgd-color);
  background-color: var(--accent-color);

  text-align: center;
  min-width: 216px;

  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--button-hero-bgd-color);
}
/* Переваги */
.benefits-list {
  display: flex;
  justify-content: space-between;
}
.benefits-title {
  line-height: 1.14;
  color: var(--secondary-text-color);

  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits-item {
  line-height: 1.71;
}

.benefits-list .list {
  width: 270px;
}

.benefits-section {
  padding-top: 94px;
}

.benefits-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--bgd-team-color);

  margin-bottom: 30px;
}
/* Види діяльності */
.work-list img {
  display: block;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-item {
  position: relative;
}

.work-title {
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  text-align: center;
  line-height: 1.14;
  text-transform: uppercase;
  padding: 27px 0;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--bgd-color);
}

/* Команда */
.section-team {
  background-color: var(--bgd-team-color);
  padding-top: 94px;
}
.team-item {
  background-color: var(--bgd-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  padding-bottom: 30px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);

  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list {
  text-align: center;
}

.team-list img {
  margin-bottom: 30px;
}

.team-icon {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--icon-color);

  height: 44px;
  width: 44px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  background-color: var(--accent-color);
  fill: var(--bgd-color);
}

/* Постійні клієнти */
.client-list {
  display: flex;
  gap: 30px;
}
.client-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);

  margin-bottom: 50px;
}

.link-client {
  fill: var(--icon-color);
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-client:hover,
.link-client:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.client-section {
  padding-top: 98px;
}
/* Footer */
footer {
  background-color: var(--secondary-bgd-color);
  padding: 60px 0;
}
footer > .container {
  display: flex;
  align-items: baseline;
}
.footer-content {
  width: 231px;
  margin-right: 70px;
}
.logo-footer {
  display: inline-block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--bgd-color);

  text-shadow: none;

  margin-bottom: 20px;
}
.foot-adress {
  line-height: 1.71;
  color: var(--bgd-color);

  margin-bottom: 9px;
}
.footer-list .list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts {
  line-height: 1.71;
  color: var(--footer-contacts-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}
address {
  font-style: normal;
}

.join {
  margin-right: 93px;
}

.join-title {
  text-transform: uppercase;
  color: var(--bgd-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.join .team-icon {
  display: flex;
  gap: 10px;
  padding-left: 0;
  padding-right: 0;
}
.join .link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  fill: var(--bgd-color);

  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join .link-icon:hover,
.join .link-icon:focus {
  background-color: var(--accent-color);
}

.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--bgd-color);

  margin-bottom: 20px;
}

.mailing-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  height: 50px;
  width: 350px;

  display: inline-flex;
  align-items: center;

  padding: 0px;
  padding-left: 16px;
  margin-right: 12px;

  background-color: var(--secondary-bgd-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.mailing-button {
  border: none;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 50px;
  width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--bgd-color);
}

.mailing-button:focus,
.mailing-button:hover {
  background-color: var(--button-hero-bgd-color);
}

.mailing-button .text {
  display: inline-flex;
  align-items: center;
}

.mailing-button > .text::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);

  margin-left: 10px;
}

/* Модалка */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  min-height: 581px;
  min-width: 528px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 41px;
  padding-right: 39px;
}

.backgr-dagger {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 30px;
  width: 30px;

  padding: 0;
}

.modal-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);

  margin-bottom: 12px;
}

.form-field {
  position: relative;

  display: block;
  margin-bottom: 16px;
}
.form-lable {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  margin-bottom: 4px;
}

.form-input {
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  margin: 0;
  padding: 0;
  padding-left: 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: var(--accent-color);
}

.form-textarea {
  outline: none;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:focus,
.form-textarea:hover {
  border-color: var(--accent-color);
}

.form-checkbox {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 13px;
}

.form-confimation {
  appearance: none;

  position: absolute;
}
.confimation-icon {
  content: "";
  display: inline-block;
  height: 15px;
  width: 16px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
}

.form-confimation:checked + .confimation-icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  border-color: transparent;
  background-origin: border-box;
}

.confimation-text {
  display: inline-block;

  line-height: 1.71;

  margin-left: 8px;
}

.confimation-text > a {
  text-decoration-line: underline;
  text-decoration-skip-ink: none;

  color: var(--accent-color);
}

.form-button {
  display: flex;
  justify-content: center;
}

.form-button > .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--bgd-color);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 10px 52px;
}

.form-button > .button:focus,
.form-button > .button:hover {
  background-color: var(--button-hero-bgd-color);
}
/* Портфоліо */
/* Main */
.section-project {
  padding-top: 94px;
}
/* Фільтри */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.filter-list .list:not(:last-child) {
  margin-right: 8px;
}
.filter-list button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--secondary-text-color);

  cursor: pointer;
  border: none;
  background-color: var(--bgd-team-color);
  border-radius: 4px;

  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--bgd-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Проекти */
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-list .list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list > .list:hover,
.project-list > .list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list .border {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);

  margin-bottom: 4px;
}
.project-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
.project-list img {
  display: block;
}

.project-overlay {
  position: relative;
  overflow: hidden;
}
.project-overlay .overlay {
  position: absolute;

  bottom: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(33, 150, 243, 0.9);

  padding: 63px 24px;
}

.project-list .list:hover .overlay {
  transform: translateX(0);
}

.overlay .description {
  font-size: 18px;
  line-height: 1.56;
  color: var(--bgd-color);
}
